$mainFont                : 'TTLakes', sans-serif;

// $desktopWidth            : 1440px;
$tableWidth              : 768px;
$phoneWidth              : 360px;
// $smPhoneWidth            : 320px;

//default
$fon-color               : #e9ebf2;
$base-color              : #1B1C21;
$default-color           : #ffffff;

// Main color
// $primary-color           : #444ce0;
// $success-color           : #26de81;
// $danger-color            : #FF3E79;
$warning-color           : #ffd170;
$purple-color            : #775afe;

// hover Color 
// Neutral Color
// Border Color

// #7f5eff