.paper--mode--primary {
  background-color: $purple-color;
  box-shadow: 4px 4px 58px 0px rgba(34, 60, 80, 0.2);
  border-radius: 8px;
}

.paper--mode--default {
  background-color: $default-color;
  border-radius: 8px;
}