.repositories--mode--primary {
  padding: 8px 16px;
  background-color: $purple-color;
  border-radius: 18px;
}

.repositories--size--md {
  flex: 0 1 800px;
}

.repositories {
  &__autocomplited {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

