.repositories--mode--primary {
  padding: 8px 16px;
  background-color: $purple-color;
  border-radius: 18px;
}

.repositories--size--md {
  flex: 0 1 800px;
}

.repositories__autocomplited {
  padding-top: 30px;
}
