.repositorie {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__paper {
    padding: 15px;
  }

  &__todo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (min-width: $phoneWidth) {
  .repositorie {
    &__title {
      margin-right: 20vw;
    }
  }
}